* {
    padding: 0;
    margin: 0
}

li {
    list-style: none
}

a {
    text-decoration: none;
    font-size: 14px
}

.menu {
    width: 800px;
    overflow: hidden;
    margin: auto;
}

.menu > li {
    width: 25%; /*20*5=100%*/
    float: left;
    text-align: center;
    line-height: 40px;
    /*background-color: black;*/
}

.menu a {
    color: black;
}

.submenu > li {
    line-height: 50px;
    /*background-color: black;*/
}

.submenu {
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
}

.menu > li:hover {
    /*background-color: black;*/
    transition-duration: 0.1s;
    font-weight: bold;
}

.menu > li:hover .submenu {
    height: 250px; /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;
}

.product-list {
    width: 735px;
    margin-left: auto;
    margin-right: auto;
}

.products h3 {
    font-size: 24px;
    color: #545454;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.product {
    display: block;
    width: 225px;
    height: 355px;
    text-align: center;
    text-decoration: none;
    color: black;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.product-name {
    margin-top: 20px;
    margin-bottom: 4px;
}

.clearfix {
    clear: both;
}

.img{
    width: 200px;
    heigth: 200px;
}