<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Spring_Project.mapper.AdminMapper">
    <select id="selectMemberList" resultType="com.example.Spring_Project.dto.MemberDTO">
        select
        id,
        pw,
        name,
        email,
        phone,
        postcode,
        roadAddress,
        jibunAddress,
        detailAddress,
        signUp_date,
        oriname,
        sysname,
        savePath,
        status,
        type
        from member
        where id not in ('admin123')
    </select>

    <select id="select1" resultType="Integer">
        select count(*)
        from member
        where extract(month from signup_date) between 1 and 3
        and id not in ('admin123')
    </select>

    <select id="select2" resultType="Integer">
        select count(*)
        from member
        where extract(month from signup_date) between 4 and 6
        and id not in ('admin123')
    </select>

    <select id="select3" resultType="Integer">
        select count(*)
        from member
        where extract(month from signup_date) between 7 and 9
        and id not in ('admin123')
    </select>

    <select id="select4" resultType="Integer">
        select count(*)
        from member
        where extract(month from signup_date) between 10 and 12
        and id not in ('admin123')
    </select>

    <insert id="insertExcel" parameterType="java.util.HashMap">
        insert into member
        values (
        m_seq.nextval,
        #{id},
        #{pw},
        #{name},
        #{email},
        #{phone},
        #{postcode},
        #{roadAddress},
        #{jibunAddress},
        #{detailAddress, jdbcType=VARCHAR},
        sysdate,
        #{oriname, jdbcType=VARCHAR},
        #{sysname, jdbcType=VARCHAR},
        #{savePath, jdbcType=VARCHAR},
        'Y',
        'ROLE_MEMBER',
        #{fileIsEmpty, jdbcType=VARCHAR},
        #{lastLoginDate, jdbcType=DATE})
    </insert>
</mapper>
