<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Spring_Project.mapper.AdminMapper">
    <select id="selectMemberList" resultType="com.example.Spring_Project.dto.MemberDTO">
        select
            id,
            pw,
            name,
            email,
            phone,
            postcode,
            roadAddress,
            jibunAddress,
            detailAddress,
            signUp_date,
            oriname,
            sysname,
            savePath,
            status,
            type
        from member
        where id not in ('admin123')
    </select>

    <select id="select1" resultType="Integer">
        select count(*)
        from member
        where signup_date
        between to_date('2023-01-01', 'YYYY-MM-DD')
        and to_date('2023-03-31', 'YYYY-MM-DD')
        and id not in ('admin123')
    </select>

    <select id="select2" resultType="Integer">
        select count(*)
        from member
        where signup_date
        between to_date('2023-04-01', 'YYYY-MM-DD')
        and to_date('2023-06-30', 'YYYY-MM-DD')
        and id not in ('admin123')
    </select>

    <select id="select3" resultType="Integer">
        select count(*)
        from member
        where signup_date
        between to_date('2023-07-01', 'YYYY-MM-DD')
        and to_date('2023-09-30', 'YYYY-MM-DD')
        and id not in ('admin123')
    </select>

    <select id="select4" resultType="Integer">
        select count(*)
        from member
        where signup_date
        between to_date('2023-10-01', 'YYYY-MM-DD')
        and to_date('2023-12-31', 'YYYY-MM-DD')
        and id not in ('admin123')
    </select>

<!--    <insert id="insertExcel" parameterType="java.util.List">-->
<!--        insert all-->
<!--        <foreach collection="excelContent" item="item" separator=",">-->
<!--            into member values-->
<!--            (m_seq.nextval,-->
<!--                #{item.id},-->
<!--                #{item.pw},-->
<!--                #{item.name},-->
<!--                #{item.email},-->
<!--                #{item.phone},-->
<!--                #{item.postcode},-->
<!--                #{item.roadAddress},-->
<!--                #{item.jibunAddress},-->
<!--                #{item.detailAddress, jdbcType=VARCHAR},-->
<!--                sysdate,-->
<!--                #{item.oriname},-->
<!--                #{item.sysname},-->
<!--                #{item.savePath},-->
<!--                'Y',-->
<!--                'ROLE_MEMBER')-->
<!--        </foreach>-->
<!--        SELECT * FROM DUAL-->
<!--    </insert>-->
    <insert id="insertExcel" parameterType="java.util.HashMap">
        insert into member
        values
        (               m_seq.nextval,
                        #{id},
                        #{pw},
                        #{name},
                        #{email},
                        #{phone},
                        #{postcode},
                        #{roadAddress},
                        #{jibunAddress},
                        #{detailAddress, jdbcType=VARCHAR},
                        sysdate,
                        #{oriname},
                        #{sysname},
                        #{savePath},
                        'Y',
                        'ROLE_MEMBER')
    </insert>
</mapper>
