<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Spring_Project.mapper.BatchMapper">
    <insert id="insertLoginDate">
        insert into batch
        values(batch_seq.nextval,#{id},
        sysdate)
    </insert>

    <select id="isIdExist" resultType="Integer">
        select count(*)
        from batch
        where id=#{id}
    </select>

    <update id="updateLoginDate">
        update batch
        set lastLoginDate = sysdate
        where id=#{id}
    </update>

    <update id="updateActiveN">
        update member
            set status = 'N'
            where id IN(
            SELECT ID
            FROM BATCH
            WHERE TRUNC(SYSDATE)-TO_DATE(lastLoginDate,'YYYYMMDD') FROM DUAL >=60
        )
    </update>
</mapper>