<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Spring_Project.mapper.BoardMapper">
    <insert id="insert" parameterType="com.example.Spring_Project.dto.BoardDTO">
        insert
        into board
        values(
        b_seq.currval,
        #{title},
        #{writer},
        #{content},
        sysdate,
        #{category, jdbcType=VARCHAR},
        0,
        'Y',
        #{parent_seq, jdbcType=NUMERIC},
        #{update_date, jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="getBoardDetail" resultType="com.example.Spring_Project.dto.BoardDTO">
        select *
        from board
        where b_seq=#{b_seq} and status='Y'
    </select>

    <update id="count">
        update board
        set count=count+1
        where b_seq=#{b_seq}
        and status = 'Y'
    </update>

    <update id="delete">
        update board
        set status='N'
        where b_seq=#{b_seq}
    </update>

    <update id="update">
        update board
        set title=#{title},
        content=#{content},
        update_date=sysdate
        where b_seq=#{b_seq} and status='Y'
    </update>

    <select id="countPost" resultType="Integer">
        select count(*)
        from board
        where status='Y'
        <if test="searchType eq 'title'.toString() and keyword != null">
            and title like '%'||#{keyword}||'%'
        </if>
        <if test="searchType == 'writer'.toString() and keyword !=null">
            and writer like '%'||#{keyword}||'%'
        </if>
        <if test="searchType == 'content'.toString() and keyword !=null">
            and content like '%'||#{keyword}||'%'
        </if>
    </select>

    <select id="select" resultType="com.example.Spring_Project.dto.BoardDTO">
        SELECT *
        FROM(SELECT ROWNUM rn, b.*
        FROM ( SELECT b_seq,title,writer,content,write_date,count,update_date,status
        FROM board
        where status='Y'
        <if test="searchType eq 'title'.toString() and keyword != null">
            and title like '%'||#{keyword}||'%'
        </if>
        <if test="searchType == 'writer'.toString() and keyword !=null">
            and writer like '%'||#{keyword}||'%'
        </if>
        <if test="searchType == 'content'.toString() and keyword !=null">
            and content like '%'||#{keyword}||'%'
        </if>
        ORDER BY write_date desc) b)
        where rn between #{start} and #{end}
    </select>

    <select id="getNetVal" resultType="Integer">
        select b_seq.NEXTVAL from dual
    </select>

    <update id="updateFileStatus" parameterType="java.util.List">
        update
        file_info
        set status='N'
        where
        b_seq= #{b_seq}
            and f_seq in
        <foreach collection="status" item="item" separator="," open="(" close=")">
        #{item,jdbcType=VARCHAR}
        </foreach>
    </update>

    <update id="updateStatus" parameterType="java.util.HashMap">
        update file_info
        set status='N'
        where
        b_seq=#{b_seq}
        and f_seq=#{f_seq}
    </update>
</mapper>
