<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Spring_Project.mapper.FileMapper">

    <insert id="insert" parameterType="java.util.List">
        insert all
        <foreach collection="list" item="i" separator=",">
            into
                file_info
                values
                (f_seq.nextval,
                #{i.oriname},
                #{i.sysname},
                'Y',
                #{i.b_seq}
                )
        </foreach>
        SELECT * FROM DUAL
    </insert>

    <insert id="insertMap" parameterType="java.util.HashMap">
        insert
            into
            file_info
            values
            (f_seq.nextval,
            #{oriname},
            #{sysname},
            'Y',
            #{b_seq}
            )
    </insert>

    <select id="getFile" resultType="com.example.Spring_Project.dto.FileDTO">
        select
            f_seq,
            oriname,
            sysname,
            status,
            b_seq
        from file_info
        where b_seq=#{b_seq}
        and status='Y'
    </select>

    <select id="getFileInfo" resultType="com.example.Spring_Project.dto.FileDTO">
        select
            f_seq,
            oriname,
            sysname,
            status,
            b_seq
        from file_info
        where f_seq=#{f_seq}
    </select>

    <insert id="insertEventMap" parameterType="java.util.HashMap">
        insert into event_file
        values(
        file_seq.nextval,
        #{event_seq},
        #{oriname},
        #{sysname},
        'Y'
        )
    </insert>
</mapper>