<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Spring_Project.mapper.MemberMapper">

    <insert id="signUp" parameterType="com.example.Spring_Project.dto.MemberDTO">
        insert into
        member
        values (
        m_seq.nextval,
        #{id},
        #{pw},
        #{name},
        #{email},
        #{phone},
        #{postcode},
        #{roadAddress},
        #{jibunAddress},
        #{detailAddress, jdbcType=VARCHAR},
        sysdate,
        #{oriname},
        #{sysname},
        #{savePath},
        'Y')
    </insert>

    <select id="idDupleCheck" resultType="Integer">
        select count(*)
        from member
        where id=#{id} and status='Y'
    </select>

    <select id="emailDupleCheck" resultType="Integer">
        select count(*)
        from member
        where email=#{email} and status='Y'
    </select>

    <select id="login" resultType="Integer">
        select count(*)
        from member
        where id=#{id} and pw=#{pw}
                and status='Y'
    </select>

    <delete id="delete">
        update member
        set status='N'
        where id=#{id}
    </delete>

    <select id="memberInfo" resultType="com.example.Spring_Project.dto.MemberDTO">
        select *
        from member
        where id=#{id} and status='Y'
    </select>

    <select id="searchId" resultType="String">
        select id
        from member
        where email=#{email} and status='Y'
    </select>

    <select id="searchPw" resultType="String">
        select pw
        from member
        where id=#{id} and status='Y'
    </select>

    <select id="selectById" resultType="com.example.Spring_Project.dto.MemberDTO">
    select * from member
        where id=#{id} and status='Y'
    </select>

    <select id="selectByEmail" resultType="com.example.Spring_Project.dto.MemberDTO">
        select * from member
        where email=#{email}
    </select>

    <update id="tempPw">
        update member
        set pw=#{pw}
        where email=#{email}
        and status='Y'
    </update>
</mapper>