<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Spring_Project.mapper.PayMapper">

    <insert id="insertPayInfo" parameterType="java.util.Map">
        insert into
        payInfo
        values(
        pay_seq.nextval,
        #{id},
        #{price},
        #{deliSeq},
        'Y',
        sysdate,
        'Y',
        '카카오페이'
        )
    </insert>

    <select id="getPayInfo" resultType="com.example.Spring_Project.dto.PayInfoDTO">
        select
         id,
         price,
         deli_seq,
         payDate,
         payMethod
        from payInfo
        where pay_seq = #{pay_seq}
    </select>

</mapper>
